@charset "UTF-8";
/* CSS Document */

/*Styling for text*/


	

p {
	font-family: avenir;
	line-height: auto;
}

.list {
	font-family: avenir;
}

h1 {
	font-family: avenir;
	font-weight:500;
	line-height: 10px;
}

h2 {
	font-family: avenir;
	font-weight:300;
}

/*this is styling for the img header*/

.header {
	margin: 10px;
}

/*this is styling for the nav bar*/

nav {
	background-color: white;
	width: 103%;
	height: 65px;
	margin-top: -20px;
	margin-left: -20px;
	margin-bottom: 5px;



}

nav ul {
	list-style:none;
}

nav li {
	float:left;
	margin-right: 50px;
	line-height: 65px;
}

a:link {
	text-decoration: none;
	color: black;
	font-family: avenir;
}

a:visited {
	color: black;
}

a:hover {
	color:#DD9728;
}

/*this is styling for the banner image on the front page*/

.banner {
	width:100%;
	margin: none;
}



/*this is styling for the links on the front page*/
.trails{
	width:30%;
	float:left;
}

.gear{
	width:30%;
	float:left;
}
	
.recipes {
	width:30%;
	float:left;
}

/*Styling for Trails page*/

.trailinfo {
	
	width: 900px;
	padding: 10px;
	
	
}

.background {
	background-color: rgba(225,225,225,.5);
	width: 100%;
	height: 900px;
	
}


/*Styling for Gear page*/
.gearinfo {
	width: 900px;
	padding:20px;
	text-align:left;
}

.gearbackground {
	background-color: rgba(225,225,225,.5);
	width: 100%;
	height: 900px;
}

	



/*Styling for recipes page*/

.title {
	width: 900px;
	padding:20px;
	text-align:left;
}

.recipesbackground {
	background-color: rgba(225,225,225,.5);
	width: 100%;
	height: 1050px;
	
}
	
/*Styling for background images*/

body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: auto;
}
	